
@font-face {
  font-family: 'libraryFont';
  font-style: normal;
  src: local('libraryFont'), url(./assets/fonts/finalLibraryFont.ttf) format('truetype');
}

.euro_outlined:after {
  font-family: 'libraryFont';
  content: "\2d2c"
}

.euro_rounded:after {
  font-family: 'libraryFont';
  content: "\2d2d"
}

.file_copy_outlined:after {
  font-family: 'libraryFont';
  content: "\2d2e"
}

.file_copy_rounded:after {
  font-family: 'libraryFont';
  content: "\2d2f"
}

.shopping_cart_outlined:after {
  font-family: 'libraryFont';
  content: "\2d30"
}

.shopping_cart_rounded:after {
  font-family: 'libraryFont';
  content: "\2d31"
}



.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  color: white;
  padding-left: 2em;
  max-width: 800px;
}

.App-link {
  color: #61dafb;
}

code {
  background-color: darkcyan;
  padding: 0 3px;
  font-size: 0.8rem;
  border-radius: 2px;
  text-align: left;
}