
@font-face {
  font-family: 'libraryFont';
  font-style: normal;
  src: local('libraryFont'), url(./assets/fonts/finalLibraryFont.ttf) format('truetype');
}

.euro_outlined:after {
  font-family: 'libraryFont';
  content: "\2d2c"
}

.euro_rounded:after {
  font-family: 'libraryFont';
  content: "\2d2d"
}

.file_copy_outlined:after {
  font-family: 'libraryFont';
  content: "\2d2e"
}

.file_copy_rounded:after {
  font-family: 'libraryFont';
  content: "\2d2f"
}

.shopping_cart_outlined:after {
  font-family: 'libraryFont';
  content: "\2d30"
}

.shopping_cart_rounded:after {
  font-family: 'libraryFont';
  content: "\2d31"
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
